<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">
    <bean id="atmDao" class="org.example.dao.AtmDao">

    </bean>
    <bean id="atmService" class="org.example.service.AtmService">
        <constructor-arg ref="atmDao">

        </constructor-arg>
    </bean>
</beans>